 #global_navi {
    /*margin: 20px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto;
    left: 0;
    right: 0;
 }
 
 #global_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 
 #global_navi ul li {
    display: inline-block;
    width: 164px;
    text-align: center;
 }
 
 #global_navi ul li a {
    display: block;
    padding: 10px 16px;
    background-color: #f0573e;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s linear;
 }

 #global_navi ul li.current a {
    background-color: #fa9786;
 }

 #global_navi ul li a:hover {
    background-color: #fa9786;
 }