 #global_navi {
    margin: auto;
    /*margin-right: auto;*/
  /*height: 40px;*/
  /*background-color: #eaf3ff;*/
  /*box-shadow: 0 3px 6px -3px #000000 inset;*/
 }
 
 /*.gnavi {*/
 /* height: 80px;*/
 /* background-color: #eaf3ff;*/
 /*}*/
.gnavi__inner {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  outline: 1px solid #f00;
}
 #global_navi ul {
    list-style: none;
    margin: auto;
    padding: 2px;
 }
 
 #global_navi ul li {
    display: inline-block;
    width: 240px;
    text-align: center;
 }
 
 #global_navi ul li a {
    display: block;
    padding: 10px 14px;
    background-color: #f0573e;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s linear;
 }

 #global_navi ul li.current a {
    background-color: #fa9786;
 }

 #global_navi ul li a:hover {
    background-color: #fa9786;
 }